<h1>Good bye </h1>
<p>
	Rails is simple
</p>
<p>
Say 
<%= link_to "hello", say_hello_path%>!
Addition: <%= 1+2 %> </p>
<p>Concatenation: <%= "cow" + "boy" %></p>
<p>	<% for file in @files %>
file name is: <%= file %></p>

<% end %>


