<h1>Hello Rails</h1>
<p>
	It is now <%= @time%>
	</p>
	<p>
Time to say
<%= link_to "Goodbye", say_goodbye_path %>!
Time in one hour: <%= 1.hour.from_now %>
</p>







<p>Name</p>
<%= text_field(:person, :name) %>
